p {
  color: black;
  font-family: 'courier new', monospace;
  font-size: 16px;
  text-align: left;
  margin-bottom: 2em;
}

h1, h2, h3, h4 {
	color: #003366;
	font-family: 'helvetica neue';
	text-align: center;
}

p.footer {
	border: 2px inset #665;
	padding: 20px;
	background-color: #f0f0f0;
}

figure{
	width: 80%
	max-width: 600px;
	margin: 20px auto;
	text-align: center;
}

figure.homepage img{
	width: 230px;
	height: 293px;
	border: 2px inset #665;
	padding: 4px;
	background-color: #f0f0f0;
	border-radius: 4px;
}

figure img{
	width:75%;
	height:auto;
	border: 2px inset #665;
	padding: 4px;
	background-color: #f0f0f0;
	border-radius: 4px;
}

figcaption {
	font-family: 'courier new', monospace;
	font-size: 1em;
	color: #003366;
	text-align: center;
	margin-top: 6px;
}

nav {
	border: 2px inset #665;
	border-radius: 6px;
	padding: 10px;
	background-color: #f0f0f0;
	margin-bottom: 20px;
	text-align: center;
}

nav ul{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 20px;
}

nav li{
	display: inline;
}

nav a{
	display: inline-block;
	text-decoration: none;
	margin: 0 10px;
	font-family: 'helvetica neue';
	color: #333;
	padding: 10px 15px;
}

section.list li{
	color: #003366;
	font-family: 'courier new', monospace;
}

article {
	margin: 0 10px;
	padding: 10px 15px;
}
